*, *::before,*::after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*{margin: 0;padding: 0;}
body{vertical-align: baseline;background: #fff;}

/* +++++++++++++++++++++++++++ */
body{margin-top: 50px;}
.jigsaw_container{width: 300px;height: 300px;margin: auto;position: relative;}
.puzzle_box{background: red;/*position: absolute;*/}